body {
    background-color: #F2F2F2;
    font-family: "visionregular";
    color: #333333;
    line-height: 1.5;
    display: grid;
    grid-template-rows: 80px 80px 1fr 80px;
    align-content: start;
    min-height: 100vh;
}

blockquote {
    background-color: white;
    border-left: 5px solid #BFBFBF;
    padding: 8px;
}

h5,
h6 {
    font-size: 16px;
    margin: 16px 0;
}

table {
    //width: 100%;
    margin: 16px auto;

    a {
        color: #333333;
    }
}

tr,
th,
td {
    border: 1px solid #BFBFBF;
    margin: 0;
    padding: 8px;
}

dd {
    margin: 0 0 16px;
}

dt {
    //margin-bottom: 8px;
    font-weight: bold;

    &::after {
        content: ':';
    }
}

ul, ol {
    padding-left: 16px;

    ul, ol {
        padding-left: 32px;
        margin: 4px 0;
    }
}

a {
    color: #FDB913;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

code {
    padding: 16px 0;
    display: inline-block;
}

pre {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

q {
    font-style: italic;
}

var {
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
}

/*******
* WORDPRESS SPECIFIC
*******/
.screen-reader-text {
    display: none;
 }

.alignleft {
    float: left;
    margin-right: 16px;
}

.alignright {
    float: right;
    margin-left: 16px;
}

.aligncenter {
    margin: 16px auto;
}

.alignnone {
    width: 100%;
    height: auto;
}


.wp-caption {
    margin: 0;

    &.aligncenter {
        margin: 0 auto;
    }

    &.alignleft {
        margin-right: 16px;
    }

    &.alignright {
        margin-left: 16px;
    }

    &.alignnone {
        width: 100%;
        max-width: 100%;
    }
}

.wp-block-image:last-child::after {
        content: '';
        display: table;
        clear: right;
}

.wp-caption-text {
    text-align: center;
    color: #BFBFBF;
    white-space: pre-line;
}

.size-thumbnail::after {
    content: "";
    display: table;
    clear: both;
}

.sticky {
    background-color: #1B243A;
    padding: 8px;
    box-sizing: border-box;
    color: #FDB913;

    a {
        color: #FDB913;
    }

    .post-title,
    .post-categories {
        a {
            color: #FDB913;
        } 
    } 
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: calc(25% - 16px);
    margin: 16px 16px 16px 0;
}

.gallery-caption {
    text-align: left;
    max-width: 100%;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.gallery-icon {
    width: 100%;
    height: auto;;
}

/*******
* HEADER
*******/
.site-title, .site-description {
    position: absolute;
    height: 0;
    width: 0;
    display: none;
}

.site-header {
    border-bottom: solid 1px #BFBFBF;
}

.site-header-center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*******
* NAVIGATION
*******/
.main-nav { 
    justify-self: end;
    align-self: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.menu-item {
    display: inline;
    margin-left: 32px;

    &:first-of-type {
        margin-left: 0;
    }

    a {
        color: #333333;
        text-decoration: none;
        position: relative;

        /*******
        * The hover undeline was created based on the effect by Devilish Alchemist
        * url: https://codepen.io/devilishalchemist/pen/ZYLZay
        *******/
        &:before,
        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0; right: 0;
            height: 2px;
            background-color: #FDB913;
        }
        &:before {
            opacity: 0;
            transform: translateY(- 8px);
            transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
        }
        &:after {
            opacity: 0;
            transform: translateY(8px/2);
            transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
        }
        &:hover,
        &:focus {
            &:before,
            &:after {
                opacity: 1;
                transform: translateY(0);
            }
            &:before {
                transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
            }
            &:after {
                transition: transform 0s .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .site-header-center {
        position: relative;
    }

    .menu-header-toggle {
        background-color: #333333;
        width: 26px;
        border-radius: 3px;
        height: 3px;
        cursor: pointer;
        transition: all 400ms ease-in-out;
        transition: background-color 300ms ease-in-out;
        z-index: 100;

        &::before,
        &::after {
            content: '';
            display: block;
            background-color: #333333;
            width: 26px;
            border-radius: 3px;
            height: 3px;
            transition: all 400ms ease-in-out;
            transition: background-color 300ms ease-in-out;
        }

        &::before {
           transform: translateY(-6px);
           opacity: 1;
        }

        &::after {
            transform: translateY(3px);
        }
    }

    .menu-header {
        background: #1B243A;
        position: absolute;
        height: 0;
        overflow: hidden;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 99;
        display: flex;
        text-align: center;
        align-content: space-around;
        flex-wrap: wrap;
        transition: height 200ms ease-in-out;
    }

    .menu-item {
        width: 100%;
        margin-left: 0;
        padding: 0;

        &:first-child {
            margin-top: 50px;
        }

        a {
            display: block;
            color: white;
        }
    }
}
    
.menu-header-open {
    height: 100vh;
}

.menu-open .menu-header-toggle {
        background-color: white;
        transform: rotate(45deg);
        position: relative;
        z-index: 100;
        

        &::before {
            background-color: white;
            opacity: 0;
            
        }

        &::after {
            background-color: white;
            transform: translateY(-3px) rotate(-90deg);
        }
    }

// Prevent Body Scrolling
// font: https://davidwalsh.name/prevent-body-scrolling
.no-scroll {
    overflow: hidden;
}

// BLOG NAVIGATION
.blog-nav {
    border-bottom: solid 1px #BFBFBF;
    margin-bottom: 20px;
    max-height: 50px;
}

.blog-nav-center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: minmax(120px, 25%) minmax(auto, 75%);
    column-gap: 16px;
    position: relative;
}

.blog-nav-toggle {
    align-self: center;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    div {
        display: inline-block;
        
        &::selection {
            background-color: transparent;
            user-select: none;
        }
    }
}

.down-arrow {
    display: block;
}

.blog-categories-nav {
    border-right: solid 1px #BFBFBF;
    padding-right: 16px;
    align-self: center;
    height: 50px;
    display: flex;
    position: relative;
    z-index: 50;

    ul {
        align-self: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu-item {
        margin-left: 32px;
    
        a {
            text-decoration: none;
            padding: 16px;

            &:before,
            &:after {
                background-color: transparent;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-categories-list {
    width: 100%;
    background: #F2F2F2;
    position: absolute;
    top: 100%;
    display: none;
    box-shadow: 2px 3px 12px 0px rgba(51,51,51,0.4);

    a {
        display: block;
        padding: 10px;
    }
}

.blog-nav-open {
    display: block;
}

// HEADER SEARCH FORM
.search-form-container {
    max-width: 100%;
    display: flex;

    form {
        padding: 0;
        margin: 0;
        align-self: center;
        display: flex;
        width: 100%;
    }
    
    label {
        display: block;
        align-self: center;
        &:before {
            content: '\f002';
            font-family: 'icomoon';
            height: 20px;
            width: 20px;
            color: #333333;
            display: block;
        }
    }

    input {
        background-color: transparent;
        border: 0;
        margin-left: 8px;
        padding: 10px;
        border-radius: 3px;
        transition: background-color 100ms ease-in-out;
        width: 100%;

        &::placeholder {
            font-style: italic;
            font-size: 14px;
            color: #BFBFBF;
        }

        &:focus {
            outline: 0 solid red;
            background-color: white;
        }
    }
}

/*******
* MAIN CONTENT
*******/
.site-content {
    justify-self: stretch;
    min-height: auto;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.blog-index-container,
.portfolio-index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

@media screen and (max-width: 850px) {
    .blog-index-container,
    .portfolio-index-container {
       grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 560px) {
    .blog-index-container,
    .portfolio-index-container {
       grid-template-columns: repeat(1, 1fr);
    }
}

.post {
    margin-bottom: 20px;
    width: 100%;
}

.post-categories a {
    color: #333333;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.attachment-post-thumbnail {
    display: block;
    width: 100%;
    max-width: 395px;
    height: auto;
    margin-bottom: 20px;
}

.no-post-thumbnail {
    width: 100%;
    max-width: 395px;
    height: auto;
    margin-bottom: 20px;
    background: #BFBFBF;
}

.post-title {
    margin: 16px 0;
    font-size: 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    a {
        color: #333333;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.meta, .read-more {
    font-style: italic;
}

.read-more {
    color: #333333;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/*******
* PAGINATION
*******/
.pagination {
    text-align: center;
    margin: 16px 0;
}

.page-numbers {
    text-decoration: none;
    color: #333333;
    padding: 3px 6px;
    margin: 0 3px;
    font-weight: bold;
}

.next {
    margin-left: 16px;
}

.previous {
    margin-right: 16px;
}

.current {
    background: #FDB913;
    border-radius: 3px;
    padding: 3px 6px;
    color: white;
}

/*******
* FOOTER
*******/
.site-footer {
    background: #1B243A;
    padding: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
        margin-left: 16px;
    
        &:first-child {
            margin-left: 0;
        }
    }
}

@media (min-width: 450px) {
    .site-footer {
        a {
            font-size: 40px
        }
    }
}