/* Gutenberg
   ========================================================================== */

.has-rafael-briet-blue-color {
    color: #1B243A
}

.has-rafael-briet-yellow-color {
    color: #FDB913;
}

.has-rafael-briet-blue-background-color {
    background-color: #1B243A;
}

.has-rafael-briet-yellow-background-color {
    background-color: #FDB913;
}