/* Home Page
   ========================================================================== */

.home {
    background-image: url("assets/images/siteBackground_1080p.jpg");
    background-size: cover;
    background-position: center;

    .blog-nav {
        display: none;
    }

    .site-header {
        border-bottom: none;
    }

    .site-content {
        margin-top: 15%;
        background: transparent;
    }

    .site-content-center {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 16px;
        display: grid;
        grid-template-columns: 60%;
    }

    .site-footer {
        margin-top: 20px;
        background: transparent;

        .social-icons {
            margin-left: 16px;

            &:first-of-type {
                margin-left: 0;
            }
        }

        a:hover::before {
                color: #1B243A;
                transition: color 0.5s;
        }
    }

    .main-nav a {
        color: white;
    }

    .menu-header-toggle {
        background: white;
    
        &::before,
        &::after {
            background: white;
        }
    }

    .site-footer-center {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 16px;
        display: grid;
        grid-template-columns: 60%;
        text-align: left;
    }
}

.home-header {
    font: 5rem "visionbold";
    color: #1B243A;
    margin: 0;
    margin-bottom: 32px;
    padding: 0;

    .text-highlight {
        background: #FDB913;
        padding: 10px 0;
    }
}

.home-text {
    font: 2.5rem "visionbold";
    color: #FDB913;
    margin: 0;
    padding: 0;
    line-height: 120%;

    .text-highlight {
        background: #1B243A;
        padding: 10px 0;
    }
}

@media screen and (max-width: 1130px) {
    .home {
        .site-content {
            margin-top: 15%;
        }

        .site-content-center {
            grid-template-columns: 70%;
        }
    }
}

@media screen and (max-width: 920px) {
    .home {
        .site-content {
            margin-top: 15%;
        }
    }

    .home-header {
        font-size: 4rem;
    }

    .home-text {
        font-size: 1.5rem;
        
    }
}

@media screen and (max-width: 640px) {
    .home {
        background-position: 70%;

        .site-content {
            margin-top: 40%;
        }

        .site-content-center {
            grid-template-columns: 1fr;
        }

        .site-footer {
            padding-bottom: 32px;
            margin: 60px auto 0;
        }
    }
}

@media screen and (max-width: 490px) {
    .home {
        background-position: 75%;

        .site-content {
            margin-top: 70%;
        }
    }
}

@media screen and (max-width: 350px) {
    .home {
        .site-content {
            margin-top: 70%;
        }

        .site-footer-center {
            grid-template-columns: 1fr;
        }
    }

    .home-header {
        font-size: 3rem;
    }

    .home-text {
        font-size: 1rem;
        line-height: 200%;
    }
}
