/* Home Page
   ========================================================================== */

.home {
    background-image: url("assets/images/background_480.jpg");
    background-size: cover;
    background-position: top right;
    grid-template-rows: auto;

    .blog-nav {
        display: none;
    }

    .site-header {
        border-bottom: none;
        background-color: rgba($color: #F2F2F2, $alpha: 0.2);
    }

    .menu-header-toggle {
        background: white;
    
        &::before,
        &::after {
            background: white;
        }
    }

    .menu-item a {
        color: white;
    }

    .site-footer {
        background: none;
        margin-top: 16px;
        padding: 0;
    }

    .site-footer-center {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 16px;
    }
}

.home-content {
    margin-top: 75%;
}

.home-block-header {
    font-size: 32px;
    line-height: 1;
    margin: 0 0 8px 0;
}

.home-block-p {
    font-size: 20px;
    line-height: 1;
    margin: 0;
}

@media (min-width: 520px) {
    .home {
        background-image: url("assets/images/background_960.jpg");
    }

    .home-content {
        width: 80%;
        margin-top: 40%;
    }
}

@media (min-width: 768px) {
    .home .site-footer {
        margin-top: 32px;
    }

    .home-content {
        width: 55%;
        margin-top: 30%;
    }
    
    .home-block-header {
        font-size: 48px;
    }
    
    .home-block-p {
        font-size: 24px;
    }
}

@media (min-width: 960px) {
    .home {
        background-image: url("assets/images/background_1920.jpg");
        background-position: center;
    }

    .home-content {
        width: 55%;
        margin-top: 20%;
    }
    
    .home-block-header {
        font-size: 72px;
    }
    
    .home-block-p {
        font-size: 32px;
    }
}